@use '../style/mixin.scss';
@use '../style/variable.scss' as var;

.App {
	display: grid;
	gap: 20px;
	grid-template-areas:
		'TaskDescription CodeEditor'
		'TaskDescription CodeValidator';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
	width: 100%;
	> div {
		padding: 15px;
	}
	.error {
		font-size: clamp(22px, 4vw, 50px);
		background-color: red;
	}
	@media (max-width: var.$tablet) {
		grid-template-areas:
			'TaskDescription'
			'CodeEditor'
			'CodeValidator';
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		height: unset;
	}
}
