@mixin border($color) {
	border: 4px solid $color;
	border-radius: 15px;
}

@mixin container() {
	max-width: $container-max-width;
	padding: $container-padding;
	height: $container-height;
	margin: $container-margin;
}
