
@use './variable.scss' as var;

@mixin border($color) {
	border: 4px solid $color;
	border-radius: 15px;
}

@mixin container() {
	max-width: var.$container-max-width;
	padding: var.$container-padding;
	height: var.$container-height;
	margin: var.$container-margin;
}


