//size-container
$container-max-width: 1100px;
$container-padding: 50px 30px;
$container-height: 100vh;
$container-margin: auto;

//media
$tablet: 768px;

//color-border
$border-color-1: tomato;
$border-color-2: green;
$border-color-3: black;

//color
$color-white: white;
$color-black: black;
